#include("./common/header.html", {active:"home", title : node_name ?! ''})
<div class="container">
    <div id="app" class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading home-panel">
                    <div class="box-tab">
                        <ul id="hot-nodes" class="nav nav-tabs">
                            <li class="active"><a href="${base_url('')}" data-toggle="tab">热门</a></li>
                            <li v-for="node in nodes">
                                <a href="/?tab={{ node.slug }}" data-toggle="tab">{{ node.title }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">

                                <!-- topics:Start -->
                                <section id="topics" class="widget bg-white post-comments">
                                    <div class="media" v-for="topic in topics">
                                        <a class="pull-left" href="/member/{{ topic.user_name }}">
                                            <img class="media-object avatar avatar-sm" src="https://o7d6mdbet.qnssl.com/{{ topic.avatar }}" alt="{{ topic.user_name }}">
                                        </a>
                                        <div class="comment">
                                            <div class="comment-author h6 no-margin">

                                                <div v-show="{{ topic.comments > 0 }}" class="comment-meta small">
                                                    <a href="/topic/{{ topic.tid }}#Reply{{ topic.comments }}" class="badge-comment">{{ topic.comments }}</a>
                                                </div>

                                                <a href="/topic/{{ topic.tid }}">{{ topic.title }}</a>

                                            </div>
                                            <div class="comment-bt">
                                                <span class="label label-default"><a href="/go/{{ topic.node_slug }}">{{ topic.node_name }}</a></span> &nbsp;•&nbsp;
                                                <strong><a href="/member/{{ topic.user_name }}">{{ topic.user_name }}</a></strong>
                                                &nbsp;•&nbsp; <span>{{ topic.update_time }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                </section>
                                <!-- topics:End -->

                                <ul class="pager">
                                    <li class="pull-left"><a href="/recent">查看最新帖</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">社区节点导航</h3>
                </div>
                <div class="panel-body">
                    #for(node : nodes)
                    #if(node.pid == 0 && node.childs > 0)
                    <div class="row">
                        <div class="col-sm-2" style="line-height: 30px;">${node.node_name}</div>
                        <div class="col-sm-10"><p>
                            #for(nodeitem : node.items)
                            <a href="${base_url('/go/') + nodeitem.node_slug}" class="btn btn-node btn-xs nodes" role="button">${nodeitem.node_name}</a>
                            #end
                        </p></div>
                    </div>
                    #end
                    #end

                    <div class="row"><div class="col-sm-offset-2 col-sm-10"><p>
                        #for(node : nodes)
                        #if(node.pid == 0 && node.childs == 0)
                        <a class="btn btn-node btn-xs nodes" role="button">${node.node_name}</a>
                        #end
                        #end
                    </p></div></div>

                </div>
            </div>

        </div>
        #include("./common/sidebar.html")
    </div>
</div>
#include("./common/footer.html")
<script type="text/javascript">
    var topics = new Vue({
        el: '#app',
        data: {
            topics: [],
            nodes: [],
            nodesUrl: '/api/nodes/hot.json',
            topicsUrl: '/api/topics.json'
        },
        ready: function() {
            this.loadTopics()
        },
        methods: {
            loadTopics: function() {
                this.$http.get(this.nodesUrl).then((response) => {
                    var res = response.json();
                this.$set('nodes', res.payload);
            }).catch(function(response) {
                    console.log(response)
                });

                this.$http.get(this.topicsUrl).then((response) => {
                    var res = response.json();
                this.$set('topics', res.payload.list);
            }).catch(function(response) {
                    console.log(response)
                });

            }
        }
    });
</script>
</body>
</html>